$textcolor:#299934;
$bodycolor:#D7D7D7D7;
$headercolor:#FFA945;
$footercolor:#636363;
@mixin dajc{
  display: flex;
  align-items: center;
  justify-content: center; 
}

@font-face {
    font-family: myfont;
    src: url(/alfa-slab-one/AlfaSlabOne-Regular.ttf);
  }

  /*Media queries pour mobile$*/
  
  @media only screen and (max-width:600px){
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: $bodycolor;
  }
  header {
    background-color: $headercolor;
    height: 60px;
    padding: 15px;
  }
  .desktop{
    display: none;
  }
  header h1 {
    color: $textcolor;
    font-family: myfont;
    @include dajc();
    font-size: 1.5rem; 
  }
  header nav a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    margin-top: 11px;
  }
  .acc a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: myfont;
    height: 20px;
    padding: 20px;
    background-color: $headercolor;
    color: #cf4a11;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px/ 20px;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
   
  h2 {
    font-weight: bold;
    color: $textcolor;
    font-family: Arial;
    text-align: center;
    margin-top: 20px;
  }
  

  .present {
    color:$textcolor;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin: 20px 5% 0;
    display: flex;
    align-items: center;
  }
  
  .acc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  #icon img {
    width: 60px;
    height: 60px;
  }
  
  #icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 40px;
  }
  
  footer {
    background-color: $footercolor;
    height: 125px;
    padding: 20px;
    margin-top: 60px;
  }
  
  footer a {
    color: white;
    font-weight: bold;
    font-size: small;
    font-family: Arial;
    text-decoration: none;
  }
  
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  
  footer p {
    padding: 1px;
    margin-left: -15px;
  }
  
  .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 400px;
    padding:0px;
    margin: 0;
  }
  
  #defil {
    overflow: auto;
  }
    }



  /*Media queries pour tablette*/
  @media screen and (min-width:601px) and (max-width:1023px) {
    * {
      margin: 0;
      padding: 0;
    }
    body {
      background-color: $bodycolor;
    }
    header h1 {
      color: $textcolor;
      font-family: myfont;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem; 
    }
    header {
      background-color: $headercolor;
      height: 60px;
      padding: 15px;
    }
    
    header nav a {
      text-decoration: none;
      color: black;
      font-family: Arial;
      font-weight: bold;
      font-size: 1.5rem;
    }
    
    header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style-type: none;
      margin-top: 13px;
    }
      .acc a {
      text-decoration: none;
      text-align: center;
      font-weight: bold;
      font-family: myfont;
      height: 20px;
      padding: 20px;
      background-color: $headercolor;
      color: #cf4a11;
      margin: auto;
      margin-top: 10px;
      border-radius: 20px/ 20px;
      -webkit-transition: color .3s;
      transition: color .3s;
    }
    h2 {
      font-weight: bold;
      color: $textcolor;
      font-family: Arial;
      text-align: center;
      margin-top: 20px;
    }
    .present {
      color:$textcolor;
      font-family: Arial;
      font-size: 22px;
      text-align: center;
      font-weight: bold;
      margin: 2% 20% 2% 20%;
      display: flex;
      align-items: center;
    }
    
    .acc {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    
    #icon img {
      width: 60px;
      height: 60px;
    }
    
    #icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-top: 40px;
    }
    
    footer {
      background-color: $footercolor;
      height: 125px;
      padding: 20px;
      margin-top: 14%;
    }
    
    footer a {
      color: white;
      font-weight: bold;
      font-size: small;
      font-family: Arial;
      text-decoration: none;
      
    }
    
    footer nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      list-style-type: none;
    }  
    footer p {
      padding: 1px;
      margin-left: -15px;
    }
    
    .images {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 50%;
      height: 400px;
      padding:0px;
      margin: 0;
    }
    
    #defil {
      overflow: auto;
    }
  }


  /*Media Queiries pour Desktop*/
  @media screen and (min-width:1024px) {
    * {
      margin: 0;
      padding: 0;
    }
    body{
      background-image: url(/moodboard/AfriknFusion_AfriknMixAgneau.png);
      background-size: cover;
      z-index: -1;
    }
    header {
      background-color: $headercolor;
      height: 80px;
      padding: 15px;
      opacity: 0.8;
    }
    header h1 {
      color: $textcolor;
      font-family: myfont;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem; 
    }
    header nav a {
      text-decoration: none;
      color: black;
      font-family: Arial;
      font-weight: bold;
      font-size: 1rem;
    }
    header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style-type: none;
      margin-top: 25px;
    }  
    .mobil{
      display: none;
    }
    .acc a {
      text-decoration: none;
      text-align: center;
      font-weight: bold;
      font-family: myfont;
      height: 20px;
      padding: 20px;
      background-color: $headercolor;
      color: #cf4a11;
      margin: auto;
      margin-top: 70px;
      border-radius: 20px/ 20px;
      -webkit-transition: color .3s;
      transition: color .3s;
    }
    
    .acc a:hover {
      color: $textcolor;
    }  
    h2 {
      font-weight: bold;
      color: $textcolor;
      font-family: Arial;
      text-align: center;
      margin-top: 20px;
    }
    .present {
      color:$textcolor;
      font-family: Arial;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      margin: 5% 20% 5% 20%;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #ffa845bb;
      border-radius: 15px;
    }
    
    .acc {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
              margin-bottom: 5%;
    }
    
    #icon img {
      width: 60px;
      height: 60px;
    }
    
    #icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
          margin-bottom: 1.7%;
          position: relative;
    }
    main h2{
      padding-bottom: 20px;
    }
    
    footer {
      background-color: $footercolor;
      height: 125px;
      padding: 20px;
      margin-top: -4.4%;
      opacity: 0.9;
    }
    
    footer a {
      color: white;
      font-weight: bold;
      font-size: small;
      font-family: Arial;
      text-decoration: none;
    }
    
    footer nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      list-style-type: none;
    }
    
    footer nav a:hover {
      color: #cf4a11;
      -webkit-transition: color .3s;
      transition: color .3s;
    }
    
    footer p {
      padding: 1px;
      margin-left: -15px;
    }
    
    .images {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 50%;
      height: 400px;
      padding:0px;
      margin: 0;
      display: none;
    }
    
    #defil {
      overflow: auto;
    }
   #defil img {
    -webkit-transition: all 0.5s ease;
      transition: .3s ease-in-out;
      transform: scale(1.1);
    }
    #defil img:hover {
      -webkit-transform: rotate(-15deg);
      transform: scale(.9);
    }
  }

   


  /*# sourceMappingURL=style.css.map */