$textcolor:#299934;
$bodycolor:#D7D7D7D7;
$headercolor:#FFA945;
$footercolor:#636363;

@font-face {
    font-family: myfont;
    src: url(/alfa-slab-one/AlfaSlabOne-Regular.ttf);
  }

  /*Media queries pour desktop$*/
  
  @media only screen and (min-width:1224px) {
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  header h1 {
    color: $textcolor;
    font-family: myfont;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; 
  }
  
  body {
    background-image: imag
  }
  
  header {
    background-color: $headercolor;
    height: 80px;
    padding: 15px;
  }
  
  header nav a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    margin-top: 25px;
  }
  
  img {
    width: 100%;
    height: 400px;
    padding:0px;
    margin: 0;
  }
  
  .acc a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: myfont;
    height: 20px;
    padding: 20px;
    background-color: $headercolor;
    color: #cf4a11;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px/ 20px;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  .acc a:hover {
    color: $textcolor;
  }  
  h2 {
    font-weight: bold;
    color: $textcolor;
    font-family: Arial;
    text-align: center;
    margin-top: 20px;
  }
  

  .present {
    color:$textcolor;
    font-family: Arial;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    align-items: center;
  }
  
  .acc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  #icon img {
    width: 60px;
    height: 60px;
  }
  
  #icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 40px;
  }
  
  footer {
    background-color: $footercolor;
    height: 125px;
    padding: 20px;
    margin-top: 60px;
  }
  
  footer a {
    color: white;
    font-weight: bold;
    font-size: small;
    font-family: Arial;
    text-decoration: none;
  }
  
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  
  footer nav a:hover {
    color: #cf4a11;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  footer p {
    padding: 1px;
    margin-left: -15px;
  }
  
  .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #defil {
    overflow: auto;
  }
 #defil img {
  -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;;
  }
  #defil img:hover {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  @media screen and (min-width:960px) and (max-width:1300px) {
    body{
        background-color: yellow;
    }  
}

  /*# sourceMappingURL=style.css.map */