$textcolor:#299934;
$textmenucolor:black;
$bodycolor:#D7D7D7D7;
$headercolor:#FFA945;
$footercolor:#636363;
$menucolor:white;
@mixin dajc{
  display: flex;
  align-items: center;
  justify-content: center; 
}

@font-face {
    font-family: myfont;
    src: url(/alfa-slab-one/AlfaSlabOne-Regular.ttf);
  }

  /*Media queries pour mobile$*/
  @media only screen and (max-width:600px) {

  * {
    margin: 0;
    padding: 0;
  }
  
  header a {
    color: $textcolor;
    font-family: myfont;
    @include dajc();
    text-decoration:none;
    font-size: 1.5rem;
  }
  
  body {
    background-color:$bodycolor;
  }
  
  header {
    background-color: $headercolor;
    height: 60px;
    padding: 15px;
  }
  
  header nav a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
  }
  
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    margin-top: 11px;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  main a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    height: 15px;
    padding: 30px;
    background-color: $menucolor;
    color:$textmenucolor;
    margin: 10% 10% 0% 10%;
    border-radius: 20px 20px;
  }
  

  footer {
    background-color: $footercolor;
    height: 125px;
    padding: 20px;
    margin-top: 60px;
  }
  
  footer a {
    color: white;
    font-weight: bold;
    font-size: small;
    font-family: Arial;
    text-decoration: none;
  }
  
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  
  footer nav a:hover {
    color: #CF4A11;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  footer p {
    padding: 1px;
    margin-left: -15px;
  }
}

 /*Media queries pour tablette*/
 @media screen and (min-width:601px) and (max-width:1023px){
  * {
    margin: 0;
    padding: 0;
  }
  
  header a {
    color: $textcolor;
    font-family: myfont;
    @include dajc();
    text-decoration:none;
    font-size: 1.5rem;
  }
  
  body {
    background-color:$bodycolor;
  }
  
  header {
    background-color: $headercolor;
    height: 80px;
    padding: 15px;
  }
  
  header nav a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
  }
  
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    margin-top: 25px;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  main a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    height: 15px;
    padding: 30px;
    background-color: $menucolor;
    color:$textmenucolor;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 80px;
    border-radius: 20px 20px;
    transition: ease-out .2s;
  }
  
  main a:hover {
    color: $textcolor;
    box-shadow: inset 1200px 0 0 0 $headercolor;
    cursor:pointer;
    font-family: myfont;
  }  

  footer {
    background-color: $footercolor;
    height: 125px;
    padding: 20px;
    margin-top: 16%;
  }
  
  footer a {
    color: white;
    font-weight: bold;
    font-size: small;
    font-family: Arial;
    text-decoration: none;
  }
  
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  
  footer nav a:hover {
    color: #CF4A11;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  footer p {
    padding: 1px;
    margin-left: -15px;
  }
 }

 /*Media Queiries pour Desktop*/
 @media screen and (min-width:1024px){
  * {
    margin: 0;
    padding: 0;
  }
  
  header a {
    color: $textcolor;
    font-family: myfont;
    @include dajc();
    text-decoration:none;
    font-size: 1.5rem;
  }
  
  body {
    background-color:$bodycolor;
  }
  
  header {
    background-color: $headercolor;
    height: 80px;
    padding: 15px;
  }
  
  header nav a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
  }
  
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    margin-top: 25px;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  main a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    height: 15px;
    padding: 30px;
    background-color: $menucolor;
    color:$textmenucolor;
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 80px;
    border-radius: 20px 20px;
    transition: all 1s ease-out;
  }
  
  main a:hover {
    color: $textcolor;
    box-shadow: inset 1200px 0 0 0 $headercolor;
    cursor:pointer;
    font-family: myfont;
  }  

  footer {
    background-color: $footercolor;
    height: 125px;
    padding: 20px;
    margin-top: 60px;
  }
  
  footer a {
    color: white;
    font-weight: bold;
    font-size: small;
    font-family: Arial;
    text-decoration: none;
  }
  
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  
  footer nav a:hover {
    color: #CF4A11;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  footer p {
    padding: 1px;
    margin-left: -15px;
  }
 }

  /*# sourceMappingURL=style.css.map */